ul {
    margin: 2em 0;
    padding: 0;
    margin: 2em 0;
}

li {
    position: relative;
    display: flex;
    align-items: center;
    color: #fff;
    background-color: #0b145a;
    box-shadow: 1px 1px 13px 1px rgba(0, 0, 0, 0.88);
    padding: 20px;
    padding: 8px;
    border-radius: 12px;
    justify-content: center;
    list-style: none;
    margin: 16px auto;
}

p {
    font-weight: 300;
    margin: 8px 0;
    font-size: 12px;
}

.listItems {
    display: grid;
    grid-template-columns: auto 1fr;
}

.iconTodoItem {
    width: 20px;
    height: 20px;
    border: 2px solid #d004f8;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 8px;
    font-weight: bold;
    font-size: 16px;
    border-radius: 50%;
    color: #fff;
    padding: 4px;
    cursor: pointer;
}

.delIcon {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 10px;
    top: -10px;
    background-color: #4f75fb;
    border-radius: 50%;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    padding: 2px;
    cursor: pointer;
}

.todoCompleted {
    text-decoration: line-through;
    color: #9b9898;
}

.todoActive {
    text-decoration: initial;
}

.delIcon:hover {
    background-color: #2050fe;
}

.backIconCheck {
    background-color: #d004f8;
}