* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: 'Montserrat', sans-serif;
  background: linear-gradient(to bottom, #4968EB, #1a94c4);
}

@media screen and (min-width: 1024px) and (max-width: 1440px) {
  body {
    height: initial;
  }
}